remoteurl = http://contentninja.services
localurl = http://localhost

sitetitle = ContentNinja
sitesubtitle = Content Ninja CMS
site.author = Rüdiger Pretzlaff
site.email = rpr@9it.de
post.title post.content
site.url = http://contentninja.services

default_index = source/index.markdown
comtec = 1

bin	= /Users/rpr/bin
lib	= /Users/rpr/bin/lib

source = source
posts	=	_posts
drafts = _drafts
stash	= _stash
public = output

theme = jasonlong

modules = Codeblock Gallery Youtube

debug = 1


